{% extends 'cosmicdb/base_site.html' %}

{% block title %}Message{% endblock %}
{% block title_small %}{% endblock %}

{% block style %}
    {{ block.super }}
    .message-created-at {
        font-size: 80%;
    }
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="{% url 'messages' %}">Messages</a></li>
        <li class="active">Message</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">{{message.image_tag}} {{message.subject}}</h3>
            <p class="message-created-at pull-right">{{message.created_at}}</p>
        </div>
        <div class="box-body">
            {{message.message|safe|linebreaks}}
        </div>
    </div>
{% endblock %}