{% extends 'errors_base.html' %}

{% block title %}Bad Request 400{% endblock %}

{% load static %}

{% block style %}
    {{ block.super }}
    .login-box {
        width: initial;
    }
    .login-box-body {
        height: 400px;
    }
{% endblock %}

{% block body %}

<body class="hold-transition login-page">

    <div class="login-box">
        <div class="login-box-body">
            <div class="error-page">
                <h2 class="headline text-yellow"> 400</h2>
                <div class="error-content">
                    <h3><i class="fa fa-warning text-yellow"></i> Oops! Bad Request.</h3>
                    <p>
                        There was an error in the request.
                    </p>
                    <p>
                        Back to <a href="{% url 'home' %}">home</a>.
                    </p>
                </div>
            </div>
        </div>

    </div>

</body>
{% endblock %}