{% extends "cosmicdb/base.html" %}

{% block title %}Enter new password{% endblock %}

{% load static crispy_forms_tags cosmic_tags %}

{% block body %}
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
        <a href="{% url 'home' %}"><img alt="Brand" src="{% static 'cosmicdb/img/icon.png' %}" class="login-img"><b>{% get_site_title %}</b></a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Please enter your new password twice so we can verify you typed it in correctly.</p>
            {% crispy form %}
        </div>
    </div>
</body>
{% endblock %}