{% extends "cosmicdb/base.html" %}

{% block title %}Reset Password{% endblock %}

{% load static cosmic_tags %}

{% block body %}
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
        <a href="{% url 'home' %}"><img alt="Brand" src="{% static 'cosmicdb/img/icon.png' %}" class="login-img"><b>{% get_site_title %}</b></a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <p class="login-box-msg">If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
        </div>
    </div>
</body>
{% endblock %}