{% extends 'cosmicdb/base_site.html' %}

{% block title %}Password Changed{% endblock %}
{% block title_small %}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Password Changed</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="box box-primary">
        <div class="box-body">
            <div class="callout callout-success">
                <h4>You have changed your password!</h4>
            </div>
        </div>
    </div>
{% endblock %}